{{ if and (.Values.odk.secrets) ( not .Values.odk.existingSecret ) }}
kind: Secret
apiVersion: v1
metadata:
  name: {{ template "odk.fullname" . }}
  labels:
    app: {{ template "odk.name" . }}
    chart: {{ template "odk.chart" . }}
data:
  DOMAIN: {{ .Values.odk.secrets.DOMAIN | b64enc | quote }}
  ENKETO_API_KEY: {{ .Values.odk.secrets.ENKETO_API_KEY | b64enc | quote }}
  ENKETO_LESS_SECRET: {{ .Values.odk.secrets.ENKETO_LESS_SECRET | b64enc | quote }}
  ENKETO_SECRET: {{ .Values.odk.secrets.ENKETO_SECRET | b64enc | quote }}
  EMAIL_HOST: {{ .Values.odk.secrets.EMAIL_HOST | default "postfix" | b64enc | quote  }}
  EMAIL_PASSWORD: {{ .Values.odk.secrets.EMAIL_PASSWORD | b64enc | quote }}
  EMAIL_PORT: {{ .Values.odk.secrets.EMAIL_PORT | quote | default "25" | b64enc  }}
  EMAIL_SECURE: {{ .Values.odk.secrets.EMAIL_SECURE | default "true" | b64enc | quote }}
  EMAIL_USER: {{ .Values.odk.secrets.EMAIL_USER | b64enc | quote }}
  EMAIL_FROM: {{ .Values.odk.secrets.EMAIL_FROM | b64enc | quote }}
  {{- if .Values.postgresql.enabled }}
  DB_NAME: {{ .Values.postgresql.auth.database | b64enc | quote }}  
  DB_PASSWORD: {{ .Values.postgresql.auth.password | b64enc | quote }}
  DB_USER: {{ .Values.postgresql.auth.username | b64enc | quote }}
  {{ if (eq .Values.postgresql.architecture "replication") }}
  DB_HOST: {{ printf "%s-postgresql-primary-hl" ( .Release.Name ) | b64enc | quote }}
  {{ else if (eq .Values.postgresql.architecture "standalone") }}
  DB_HOST: {{ printf "%s-postgresql-hl" ( .Release.Name ) | b64enc | quote }}
  {{- end }}
  {{ else }}
  DB_HOST: {{ .Values.odk.secrets.DB_HOST | b64enc | quote }}
  DB_NAME: {{ .Values.odk.secrets.DB_NAME | b64enc | quote }}  
  DB_PASSWORD: {{ .Values.odk.secrets.DB_PASSWORD | b64enc | quote }}
  DB_USER: {{ .Values.odk.secrets.DB_USER | b64enc | quote }}
  {{- end }}
  DB_SSL: {{ .Values.odk.secrets.DB_SSL | default "false" | toString | b64enc }} 
  ENKETO_REDIS_MAIN: {{ printf "%s-enketo-redis-main" ( .Release.Name ) | toString | b64enc }}
  ENKETO_REDIS_CACHE: {{ printf "%s-enketo-redis-cache" ( .Release.Name ) | toString | b64enc }}
{{ end }}