apiVersion: v1
kind: Service
metadata:
  labels:
    app: {{ include "odk.fullname" . }}-pyxform
    version: "1.0"
  name: {{ include "odk.fullname" . }}-pyxform
spec:
  ports:
  - port: 80
    protocol: TCP
    targetPort: 80
  selector:
    app: {{ include "odk.fullname" . }}-pyxform
