{{ if and (.Values.postgresql.backups.enabled) (not .Values.postgresql.backups.existingSecret) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ printf "daily-backup-%s-credentials" ( include "odk.fullname" . ) }}
data:
  ENDPOINT_URL: {{ .Values.postgresql.backups.bucketEndpoint | b64enc | quote }}
  AWS_ACCESS_KEY_ID: {{ .Values.postgresql.backups.bucketAccessKeyId | b64enc | quote }}
  AWS_SECRET_ACCESS_KEY: {{ .Values.postgresql.backups.bucketSecretAccessKey | b64enc | quote }}
{{ end }}
