apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    app: {{ include "odk.fullname" . }}-nginx
    {{- include "odk.labels" . | nindent 4 }}
  name: {{ include "odk.fullname" . }}-common-headers
data:
  common-headers.conf: |
    # This file should be included in server{}, and also in any location{}
    # which has a call to add_header.
    # See: https://nginx.org/en/docs/http/ngx_http_headers_module.html#add_header

    add_header Cache-Control $cache_header_cache_control;
    add_header Pragma        $cache_header_pragma;
    add_header Vary          $cache_header_vary;

    add_header Referrer-Policy same-origin;
    add_header Strict-Transport-Security "max-age=63072000" always;
    add_header X-Frame-Options "SAMEORIGIN";
    add_header X-Content-Type-Options nosniff;  
  client-config.json.template: |
    {
    "oidcEnabled": ${OIDC_ENABLED}
    }
  redirector.conf: |
    # Be VERY careful modifying this file - it is modified BY LINE NUMBER in setup-odk.sh
    server {
        # Listen on plain old HTTP and catch all requests so they can be redirected
        # to HTTPS instead.
        listen 80 reuseport;
        listen [::]:80 reuseport;
        server_name ${DOMAIN};
        server_tokens off;

        # Anything requesting this particular URL should be served content from
        # Certbot's folder so the HTTP-01 ACME challenges can be completed for the
        # HTTPS certificates.
        location '/.well-known/acme-challenge' {
            default_type "text/plain";
            root /var/www/letsencrypt;
        }

        # Everything else gets shunted over to HTTPS for each user defined
        # server to handle.
        location / {
            return 301 https://$http_host$request_uri;
        }
    }

    server {
        listen 80 default_server;
        listen [::]:80 default_server;
        server_tokens off;

        return 421;
    }