apiVersion: v1
kind: Service
metadata:
  labels:
    app: {{ include "odk.fullname" . }}-nginx
  name: {{ include "odk.fullname" . }}-nginx
spec:
  ports:
    - name: http
      port: 80
      targetPort: 80
  selector:
    app: {{ include "odk.fullname" . }}-nginx