apiVersion: v1
kind: Service
metadata:
  labels:
    app: {{ include "odk.fullname" . }}-enketo-redis-main
    version: "1.0"
  name: {{ include "odk.fullname" . }}-enketo-redis-main
spec:
  ports:
  - port: 6379
    protocol: TCP
    targetPort: 6379
  selector:
    app: {{ include "odk.fullname" . }}-enketo-redis-main