image:
  # -- Registry where the common images can be pulled 
  registry: "docker.io" 
  # -- Registry where ghcr.io/getodk/* can be pulled from
  odkregistry: "ghcr.io/getodk" 
  pullPolicy: IfNotPresent
  # -- Overrides the image tag whose default is the chart appVersion.
  tag: ""
  
nameOverride: ""
fullnameOverride: ""

odk:
  # -- Create a secret manually containing the fields shown below (recommended).
  existingSecret: ""
  secrets:
    # -- the domain for the ODK Central instance
    DOMAIN: yourdomain.tld
    # -- the Enketo API key 
    ENKETO_API_KEY: "enketo_api_key_secret"
    # -- the Enketo Less API key
    ENKETO_LESS_SECRET: "enketo_less_secret"
    # -- The Enketo secret used for the enketo service
    ENKETO_SECRET: "enketo_secret"
    # -- the hostname for the final mailserver
    EMAIL_HOST: ""
    # -- the user for the final mailserver
    EMAIL_USER: ""
    # -- the password for the user on the final mailserver
    EMAIL_PASSWORD: ""
    # -- the default email port for the final mailserver
    EMAIL_PORT: 587
    # -- whether to use TLS for the final mailserver
    EMAIL_SECURE: "true"
    # -- the email address that is used to send emails from the ODK Central instance
    EMAIL_FROM: "emailfromadress@yourdomain.tld"
    # -- the database name for the ODK Central instance
    DB_NAME: ""
    # -- the database user for the ODK Central instance
    DB_USER: ""
    # -- the database password for the ODK Central instance
    DB_PASSWORD: ""
    # -- the database host for the ODK Central instance
    DB_HOST: ""
    # -- SSL mode for the database connection
    DB_SSL: true

  # -- The initial admin user configuration
  user:
    # -- the username for the initial admin user
    username: "admin@yourdomain.tld" # -- e.g. admin@yourdomain.tld
    # -- the password for the initial admin user
    password: "admin12345678"
    existingSecret: ""

# Configuration for the ODK Central service deployment
# The service is the main component of ODK Central, handling requests and serving the web application.
service:
  # Storage configuration for the service
  persistence:
    enabled: true
    size: 500Mi
    storageClass: default
    accessMode: ReadWriteOnce
  resources:
    requests:
      memory: "256Mi"
      cpu: "250m"
    limits:
      memory: "2048Mi"
      cpu: "500m"
  # Node options for the service, such as memory limits for Node.js
  # Set SERVICE_NODE_OPTIONS='--max-old-space-size=...'
  # to roughly 75% of service.resources.limits.memory
  env:
    - name: SERVICE_NODE_OPTIONS
      value: "--max-old-space-size=1536"

# Configuration for the ODK Central enketo service
enketo:
  image: harbor.containers.wurnet.nl/ghcr-proxy/enketo/enketo:7.5.1
  resources:
    requests:
      memory: "256Mi"
      cpu: "500m"
    limits:
      memory: "1024Mi"
      cpu: "1000m"

# Configuration for the ODK Central nginx service
nginx:
  resources:
    requests:
      memory: "32Mi"
      cpu: "100m"
    limits:
      memory: "64Mi"
      cpu: "200m"

# Configuration for the ODK Central mail service
postfix:
  enabled: true
  serverHostname: odk-sandbox.containers-test.wur.nl
  resources:
    requests:
      memory: "64Mi"
      cpu: "50m"
    limits:
      memory: "128Mi"
      cpu: "100m"
  overwriteFrom: "ODK Sandbox <noreply@odk-sandbox.containers-test.wur.nl>"

# Configuration for the ODK Central redis service
redis:
  persistence:
    enabled: true
    size: 500Mi
    storageClass: default
    accessMode: ReadWriteOnce
  cache:
    resources:
      requests:
        memory: "32Mi"
        cpu: "100m"
      limits:
        memory: "64Mi"
        cpu: "200m"
  main:
    resources:
      requests:
        memory: "32Mi"
        cpu: "100m"
      limits:
        memory: "64Mi"
        cpu: "200m"

# Configuration for the ODK Central pyxform service
pyxform:
  replicas: 1
  resources:
    limits:
      cpu: 1000m
      memory: 1024Mi
    requests:
      cpu: 250m
      memory: 256Mi

# Configuration for the ODK Central postgresql service
# Inherited from the Bitnami PostgreSQL chart
# Values for the postgresql chart can be found here:https://github.com/bitnami/charts/blob/main/bitnami/postgresql/README.md
postgresql:
  enabled: true
  # Backup configuration for the ODK Central PostgreSQL database
  # Writes postgresql dumps to an S3 compatible bucket.
  backups:
    enabled: false
    # Cronjob schedule for the backup job. Please keep in mind that the system is running in UTC!
    schedule: "37 03 * * *"
    # Define how many cronjobs history needs to be retained in Kubernetes.
    keepJobs: 1
    bucketName: ""
    bucketPath: ""
    # These following 3 keys are ignored if a existingsecret is defined
    bucketEndpoint: "https://scality02.wurnet.nl" # Leave empty when existingSecret is set
    bucketAccessKeyId: "" # Leave empty when existingSecret is set
    bucketSecretAccessKey: "" # Leave empty when existingSecret is set
    ## Existing Secret
    # Create a seperate secret that contains the following keys:
    # ENDPOINT_URL = [URL of S3 endpoint]
    # AWS_ACCESS_KEY_ID = [Access ID of S3 Endpoint]
    # AWS_SECRET_ACCESS_KEY = [Access Key of S3 Endpoint]
    existingSecret: ""
    bucketLifeCycle: 30 # Number of days to keep versions in bucket
    resources: {} # Some default values are set, but you can override them.
  global:
    imageRegistry: "harbor.containers.wurnet.nl/proxy-cache"
  image:
    # PostgreSQL image to use; bitnamilegacy is used to keep compatibility with older versions
    repository: bitnamilegacy/postgresql
    digest: ""
  clusterDomain: cluster.local
  auth:
    enablePostgresUser: true
    username: "odkcentral"
    database: "odkcentral"
    password: "odkcentral" # Only set when existingSecret is not configured.
    # replicationPassword: "tpsgodkcentral" # Only set when architecture is set to "replication".

    ## Name of existing secret to use for PostgreSQL credentials.
    ## `auth.postgresPassword`, `auth.password`, and `auth.replicationPassword` will be ignored and picked up from this secret.
    ## The secret might also contains the key `ldap-password` if LDAP is enabled. `ldap.bind_password` will be ignored and picked from this secret in this case.
    # existingSecret: postgres

  architecture: standalone
  primary:
    resources:
      limits:
        memory: 512Mi
        cpu: 750m
      requests:
        memory: 256Mi
        cpu: 250m
    persistence:
      size: 5Gi
  readReplicas:
    replicaCount: 1
    resources:
      limits:
        memory: 512Mi
        cpu: 750m
      requests:
        memory: 256Mi
        cpu: 250m
    persistence:
      size: 5Gi
  networkPolicy:
    enabled: true
  metrics:
    enabled: false

# Configuration for the ODK Central ingress
ingress:
  enabled: true
  className: nginx-public
  annotations:
    nginx.ingress.kubernetes.io/proxy-body-size: 512m
    nginx.ingress.kubernetes.io/proxy-read-timeout: "25600"
    nginx.ingress.kubernetes.io/proxy-send-timeout: "25600"
    ingress.kubernetes.io/ssl-redirect: "true"
    nginx.ingress.kubernetes.io/backend-protocol: HTTP
    nginx.ingress.kubernetes.io/enable-global-auth: "false"
  hosts:
    - host: yourdomain.tld
      paths:
        - path: /
          pathType: Prefix
  tls:
    - secretName: yourdomain.tld
      hosts:
        - yourdomain.tld